
<div class="masthead">
    <div class="language-nav">
    <ul>
      <li><a href="">CSS</a></li>
      <li><a href="">HTML</a></li>
      <li><a href="">Javascript</a></li> 
      <li><a href="">Ruby</a></li> 
    </ul>
      
    </div>

  <div class="logo">
    <img src="assets/AA_Times_Logo.png" alt="aa_logo"/>
  </div>
 
  <div class="masthead-links">
    <li>Tuesday, October 18, 2016</li>
  <li>
    <a href="">Today’s Paper</a></li>
  <li>
    <a href="">Video</a>
  </li>
  <li>
  <button>77°F</button>
  </li>
  <li>
  AAO<strong>+100%</strong>  
  </li>
  </div>

</div>
